In [72]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [73]:
sc = SparkContext.getOrCreate()
spark = SparkSession \
    .builder \
    .getOrCreate()

In [221]:
avocado = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("avocado.csv")

In [222]:
avocado.createOrReplaceTempView('avocado')

In [223]:
avocado.count()

18249

In [224]:
avocado.columns

['_c0',
 'Date',
 'AveragePrice',
 'TotalVolume',
 'Type4046',
 'Type4225',
 'Type4770',
 'TotalBags',
 'SmallBags',
 'LargeBags',
 'XLargeBags',
 'type',
 'year',
 'region']

In [225]:
spark.sql("SELECT * FROM avocado").show(5)

+---+----------+------------+-----------+--------+---------+--------+---------+---------+---------+----------+------------+----+------+
|_c0|      Date|AveragePrice|TotalVolume|Type4046| Type4225|Type4770|TotalBags|SmallBags|LargeBags|XLargeBags|        type|year|region|
+---+----------+------------+-----------+--------+---------+--------+---------+---------+---------+----------+------------+----+------+
|  0|2015-12-27|        1.33|   64236.62| 1036.74| 54454.85|   48.16|  8696.87|  8603.62|    93.25|       0.0|conventional|2015|Albany|
|  1|2015-12-20|        1.35|   54876.98|  674.28| 44638.81|   58.33|  9505.56|  9408.07|    97.49|       0.0|conventional|2015|Albany|
|  2|2015-12-13|        0.93|  118220.22|   794.7|109149.67|   130.5|  8145.35|  8042.21|   103.14|       0.0|conventional|2015|Albany|
|  3|2015-12-06|        1.08|   78992.15|  1132.0| 71976.41|   72.58|  5811.16|   5677.4|   133.76|       0.0|conventional|2015|Albany|
|  4|2015-11-29|        1.28|    51039.6|  941.48| 43838.39|   75.78|  6183.95|  5986.26|   197.69|       0.0|conventional|2015|Albany|
+---+----------+------------+-----------+--------+---------+--------+---------+---------+---------+----------+------------+----+------+
only showing top 5 rows

In [215]:
spark.sql("select distinct region from avocado").show()

+-------------------+
|             region|
+-------------------+
|             Albany|
|            Atlanta|
|BaltimoreWashington|
|              Boise|
|             Boston|
|   BuffaloRochester|
|         California|
|          Charlotte|
|            Chicago|
|   CincinnatiDayton|
|           Columbus|
|      DallasFtWorth|
|             Denver|
|            Detroit|
|        GrandRapids|
|         GreatLakes|
| HarrisburgScranton|
|HartfordSpringfield|
|            Houston|
|       Indianapolis|
+-------------------+
only showing top 20 rows

In [226]:
spark.sql("select distinct type from avocado").show()

+------------+
|        type|
+------------+
|conventional|
|     organic|
+------------+

In [258]:
spark.sql("select x.year, x.type,x.TotalVolumeSold,c.type,c.TotalVolumeSold from (select sum(TotalVolume) as TotalVolumeSold, type,year from avocado where type='organic' group by type,year) as c,(select sum(TotalVolume) as TotalVolumeSold, type,year from avocado where type='conventional' group by type,year) as x where x.year=c.year").show()

+----+------------+--------------------+-------+--------------------+
|year|        type|     TotalVolumeSold|   type|     TotalVolumeSold|
+----+------------+--------------------+-------+--------------------+
|2015|conventional| 4.296599235690001E9|organic| 8.886942634999989E7|
|2016|conventional|4.6902498130499935E9|organic|1.3064007878000006E8|
|2017|conventional| 4.766165793440003E9|organic|1.6813990583000007E8|
|2018|conventional|     1.33420606913E9|organic|4.8532271129999995E7|
+----+------------+--------------------+-------+--------------------+